flows.json
[{"id":"ce90ccc6.6c12","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e46248fa.1c39f","type":"tab","label":"Temperature Test","disabled":false,"info":""},{"id":"90ed70aa.7c28a","type":"subflow","name":"SaveChart","info":"","category":"","in":[{"x":80,"y":60,"wires":[{"id":"2623b280.096a96"}]}],"out":[{"x":820,"y":80,"wires":[{"id":"f3802a28.53d668","port":0}]}]},{"id":"22745792.1b257","type":"MySQLdatabase","z":"ce90ccc6.6c12","host":"127.0.0.1","port":"3306","db":"cybernetics","tz":""},{"id":"dc7cf86d.126c5","type":"ui_group","z":"ce90ccc6.6c12","name":"Temperature Lesson","tab":"5a6c3cd9.1fee1c","disp":true,"width":"6","collapse":false},{"id":"f2a1ad91.ce7ec8","type":"ui_tab","z":"ce90ccc6.6c12","name":"Temperature Lesson","icon":"dashboard","disabled":false,"hidden":false},{"id":"a55a443.ff7f838","type":"ui_group","z":"","name":"Node Readings","tab":"9daddae2.d784d8","disp":true,"width":"14","collapse":false},{"id":"9daddae2.d784d8","type":"ui_tab","z":"","name":"GO 4.0 Green crowdhackathon","icon":"dashboard","disabled":false,"hidden":false},{"id":"d9d497a8.645998","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"407d736a.923a7c","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"go4green","tz":""},{"id":"5d6944be.cb4694","type":"ui_group","z":"","name":"Nodes","tab":"9daddae2.d784d8","disp":true,"width":"10","collapse":true},{"id":"d3ba0f7b.40364","type":"ui_tab","z":"","name":"Nodes","icon":"dashboard","disabled":false,"hidden":false},{"id":"ead10e5f.451838","type":"http in","z":"e46248fa.1c39f","name":"","url":"temperature","method":"post","upload":false,"swaggerDoc":"","x":130,"y":680,"wires":[["84cc3d02.17d028","ea148c4b.a01fb8","e5c33893.1cda58"]]},{"id":"84cc3d02.17d028","type":"debug","z":"e46248fa.1c39f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":680,"wires":[]},{"id":"a46e7b1b.72f138","type":"inject","z":"e46248fa.1c39f","name":"Insert","topic":"INSERT INTO `go4green`.`readings` (`temperature`, `lgp`, `ch4`, `alcohol`, `air`, `h2`, `o3`, `no2`, `so2`, `aqi`, `battery`) VALUES ('13', '2', '3', '4', '5', '6', '7', '8', '9', '4', '88');","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":520,"wires":[["99a070b6.b8e74","362a6eaa.57e18a"]]},{"id":"99a070b6.b8e74","type":"mysql","z":"e46248fa.1c39f","mydb":"407d736a.923a7c","name":"go4Green","x":250,"y":520,"wires":[[]]},{"id":"ea148c4b.a01fb8","type":"http response","z":"e46248fa.1c39f","name":"","statusCode":"","headers":{},"x":330,"y":740,"wires":[]},{"id":"d560017c.8dfc","type":"file","z":"90ed70aa.7c28a","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":690,"y":40,"wires":[[]]},{"id":"42310b16.f1c91c","type":"file in","z":"90ed70aa.7c28a","name":"","filename":"","format":"utf8","sendError":true,"x":530,"y":80,"wires":[["f3802a28.53d668"]]},{"id":"29cc993c.52cc36","type":"json","z":"90ed70aa.7c28a","name":"","x":530,"y":40,"wires":[["d560017c.8dfc"]]},{"id":"f3802a28.53d668","type":"json","z":"90ed70aa.7c28a","name":"","x":690,"y":80,"wires":[[]]},{"id":"2623b280.096a96","type":"function","z":"90ed70aa.7c28a","name":"LoadSave","func":"var strSafe=msg.topic;\nif(strSafe)\n{\n strSafe=strSafe.replace(/[^a-z0-9]/gi, '_').toLowerCase();\n var loaded=context.get(strSafe)||0;\n msg.filename =\"/home/pi/charts/\"+strSafe+\".dat\";\n //node.warn(loaded);\n if(0===loaded)\n {\n //load chart!! \n msg.payload=\"load\";\n context.set(strSafe,1);\n \n //node.warn(\"Loading \" +strSafe);\n }\n else\n {\n //node.warn(\"Writing \" +strSafe);\n }\n return msg; \n}\nreturn null;\n\n","outputs":1,"noerr":0,"x":230,"y":60,"wires":[["868f84f5.85b0d"]]},{"id":"868f84f5.85b0d","type":"switch","z":"90ed70aa.7c28a","name":"Load data","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"load","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":60,"wires":[["29cc993c.52cc36"],["42310b16.f1c91c"]]},{"id":"16b28eec.a55a91","type":"ui_chart","z":"e46248fa.1c39f","name":"","group":"a55a443.ff7f838","order":3,"width":"0","height":"0","label":"air","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":320,"wires":[[]]},{"id":"65799c90.12352c","type":"ui_chart","z":"e46248fa.1c39f","name":"","group":"a55a443.ff7f838","order":3,"width":0,"height":0,"label":"lgp","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":360,"wires":[[]]},{"id":"6bfaafa.2ffcd5","type":"ui_chart","z":"e46248fa.1c39f","name":"","group":"a55a443.ff7f838","order":3,"width":0,"height":0,"label":"ch4","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":400,"wires":[[]]},{"id":"e5c33893.1cda58","type":"function","z":"e46248fa.1c39f","name":"parse json","func":"//msg.payload = Math.round(msg.payload.air,4) ;\n//msg.payload = msg.payload.air;\n//msg = msg.payload.air.V;\n//return [msg.payload];\n\nvar msg1 = { payload: parseFloat(msg.payload.air).toFixed(1)};\nvar msg2 = { payload: parseFloat(msg.payload.lgp).toFixed(1) };\nvar msg3 = { payload: parseFloat(msg.payload.ch4).toFixed(1) };\nvar msg4 = { payload: parseFloat(msg.payload.alcohol).toFixed(1) };\nvar msg5 = { payload: parseFloat(msg.payload.h2).toFixed(1) };\nvar msg6 = { payload: parseFloat(msg.payload.o3).toFixed(1) };\nvar msg7 = { payload: parseFloat(msg.payload.no2).toFixed(1) };\nvar msg8 = { payload: parseFloat(msg.payload.so2).toFixed(1) };\nvar msg9 = { payload: parseFloat(msg.payload.co).toFixed(1) };\nvar msg10 = { payload: parseFloat(msg.payload.aqi).toFixed(1) };\nvar msg11 = { payload: parseFloat(msg.payload.battery).toFixed(1) };\nvar msg12 = { payload: parseFloat(msg.payload.temp).toFixed(1) };\nreturn [  msg1, msg2, msg3 , msg4, msg5, msg6, msg7, msg8, msg9, msg10, msg11, msg12 ];","outputs":12,"noerr":0,"x":490,"y":560,"wires":[["16b28eec.a55a91"],["65799c90.12352c"],["6bfaafa.2ffcd5"],["b5329f6a.4ddbb"],["ab267e0f.a60758"],["bc9a0522.022248"],["b1122eaa.2040a"],["29bd938b.c0aa2c"],["2316fbaf.fb5e3c"],["f724c9a4.1f6b98"],["726075aa.0044e4"],["964c7301.c1d7a"]],"outputLabels":["air","","","","","","","","","","",null]},{"id":"4b6bd716.afa5f8","type":"json","z":"e46248fa.1c39f","name":"Debug Data","property":"payload","action":"","pretty":true,"x":230,"y":620,"wires":[["e5c33893.1cda58"]]},{"id":"448696ee.e30dc8","type":"inject","z":"e46248fa.1c39f","name":"","topic":"","payload":"{\"temp\":5.384766,\"lgp\":19.05396,\"ch4\":23.97253,\"alcohol\":24.06116,\"air\":26.18811,\"h2\":1.960687,\"o3\":31,\"no2\":41,\"so2\":3,\"co\":2.215576,\"aqi\":11.29032,\"battery\":96.8}","payloadType":"str","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":620,"wires":[["4b6bd716.afa5f8"]]},{"id":"e22aa194.fe0d18","type":"inject","z":"e46248fa.1c39f","name":"JSON String","topic":"","payload":"{\"a\":1}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":140,"wires":[["d3508f94.8024c8"]]},{"id":"d3508f94.8024c8","type":"json","z":"e46248fa.1c39f","name":"","property":"payload","action":"","pretty":false,"x":550,"y":140,"wires":[["3e88b2be.ced48e"]]},{"id":"3e88b2be.ced48e","type":"debug","z":"e46248fa.1c39f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":140,"wires":[]},{"id":"225079e1.3097d6","type":"inject","z":"e46248fa.1c39f","name":"Object","topic":"","payload":"{\"a\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":180,"wires":[["3cf6056d.35a7fa"]]},{"id":"3cf6056d.35a7fa","type":"json","z":"e46248fa.1c39f","name":"","property":"payload","action":"","pretty":false,"x":550,"y":180,"wires":[["2c14db2f.2d1b64"]]},{"id":"2c14db2f.2d1b64","type":"debug","z":"e46248fa.1c39f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":180,"wires":[]},{"id":"b5329f6a.4ddbb","type":"ui_chart","z":"e46248fa.1c39f","name":"","group":"a55a443.ff7f838","order":3,"width":0,"height":0,"label":"alcohol","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":440,"wires":[[]]},{"id":"ab267e0f.a60758","type":"ui_chart","z":"e46248fa.1c39f","name":"","group":"a55a443.ff7f838","order":3,"width":0,"height":0,"label":"h2","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":480,"wires":[[]]},{"id":"bc9a0522.022248","type":"ui_chart","z":"e46248fa.1c39f","name":"","group":"a55a443.ff7f838","order":3,"width":0,"height":0,"label":"o3","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":520,"wires":[[]]},{"id":"b1122eaa.2040a","type":"ui_chart","z":"e46248fa.1c39f","name":"","group":"a55a443.ff7f838","order":3,"width":0,"height":0,"label":"no2","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":560,"wires":[[]]},{"id":"29bd938b.c0aa2c","type":"ui_chart","z":"e46248fa.1c39f","name":"","group":"a55a443.ff7f838","order":3,"width":0,"height":0,"label":"so2","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":600,"wires":[[]]},{"id":"2316fbaf.fb5e3c","type":"ui_chart","z":"e46248fa.1c39f","name":"","group":"a55a443.ff7f838","order":3,"width":0,"height":0,"label":"co","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":640,"wires":[[]]},{"id":"f724c9a4.1f6b98","type":"ui_chart","z":"e46248fa.1c39f","name":"","group":"a55a443.ff7f838","order":3,"width":0,"height":0,"label":"aqi","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":680,"wires":[[]]},{"id":"726075aa.0044e4","type":"ui_chart","z":"e46248fa.1c39f","name":"","group":"a55a443.ff7f838","order":3,"width":0,"height":0,"label":"battery","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":720,"wires":[[]]},{"id":"780de718.30f48","type":"ui_template","z":"e46248fa.1c39f","group":"a55a443.ff7f838","name":"css","order":11,"width":0,"height":0,"format":"<style>\n    .masonry-container {\n    background-color: \n    #575353;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: \n#0DC129;\ncolor:\n    #fff;\n}\n.ng-binding {\n    font-weight: bold!important;\n}\n.nr-dashboard-cardtitle.ng-binding.ng-scope {\n    text-align: center;\n    font-size: 30px;\n}\n.label.nr-dashboard-chart-title.ng-binding.nr-dashboard-chart-titlel {\n    background: #9b37bf;\ncolor:#fff;\n    font-weight: bold !important;\n    text-transform: uppercase;\n}\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    color: \n    #06a818;\n    margin-bottom: 20px;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":90,"y":460,"wires":[[]]},{"id":"362a6eaa.57e18a","type":"debug","z":"e46248fa.1c39f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":460,"wires":[]},{"id":"964c7301.c1d7a","type":"ui_chart","z":"e46248fa.1c39f","name":"","group":"a55a443.ff7f838","order":3,"width":"0","height":"0","label":"temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":760,"wires":[[]]}]